<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Entity_Framework_Core</title>

    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/vendors/css/vendor.bundle.addons.css">

    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/css/style.css">

    <link rel="shortcut icon" href="http://www.urbanui.com/" />

</head>