<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
     
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/Resim.jpg" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        <i class="fa fa-user text-primary"></i>
                        HoşGeldin Bülent
                    </p>
                    <p class="designation">
                        <i class="fa fa-shield text-success"></i> Tam Yetkili
                    </p>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-exclamation-circle  menu-icon text-info"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Statistics/">
                <i class="fa fa-chart-bar menu-icon text-warning"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList/">
                <i class="fa fa-tags menu-icon text-danger"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByCustomerName/">
                <i class="fa fa-users menu-icon text-primary"></i>
                <span class="menu-title">Müşteri Listesi (İsme Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByDescending/">
                <i class="fa fa-arrow-up menu-icon text-success"></i>
                <span class="menu-title">Müşteri Listesi (Bakiyeye Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerGetByCity/">
                <i class="fa fa-building menu-icon text-secondary"></i>
                <span class="menu-title">Şehre Göre Arama</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="fa fa-archive menu-icon text-info"></i>
                <span class="menu-title">Ürün Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/FirstProductList/">
                <i class="fa fa-list-ol menu-icon text-warning"></i>
                <span class="menu-title">Ürün Listesi (İlk 5 Ürün)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/SkipFourProductList/">
                <i class="fa fa-filter menu-icon text-purple"></i>
                <span class="menu-title">Skip metodu  Filtreleme</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderList/">
                <i class="fa fa-shopping-cart menu-icon text-success"></i>
                <span class="menu-title">Sipariş Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/AllCountSmallerThen5/">
                <i class="fa fa-exclamation-triangle menu-icon text-danger"></i>
                <span class="menu-title">Sipariş Listesi (Stok Sayısı < 5)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListByStatus/">
                <i class="fa fa-tasks menu-icon text-info"></i>
                <span class="menu-title">Sipariş Listesi (Duruma Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListSearch/">
                <i class="fa fa-search menu-icon text-dark"></i>
                <span class="menu-title">Sipariş Ara</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Todo/PrependMethod/">
                <i class="fa fa-globe menu-icon text-body"></i>
                <span class="menu-title">ToDo Prepend</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/MessageList">
                <i class="fa fa-comments menu-icon text-danger"></i>
                <span class="menu-title">Mesaj Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/UpdateProduct/">
                <i class="fa fa-map-marker menu-icon text-body"></i>
                <span class="menu-title">Ürün Güncelleme</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/CreateOrder/">
                <i class="fa fa-step-backward menu-icon text-body"></i>
                <span class="menu-title">Sipariş Ekle</span>
            </a>
        </li>
    </ul>
</nav>
